<% include partials/header %>

<div class = "jumbotron">
  <h1>PDX Accessible Services</h1>
  <p>Tell us a bit about yourself!</p>
  <p>I am... </p>
</div> 

<a href="/shelters"> View Available Shelters! </a>

<% include partials/footer %> 
