
<% include partials/header %>

<h1> Welcome to the map of Portland, with each shelter resource indicated by color </h1> 

<img src="/images/mapAPI.jpg" alt="Pic of Map API" style="margin: 0 auto;">

<% include partials/footer %>
