<% include partials/header %>

<div class = "container" style="margin-left: auto; margin-right:auto; display:block; width:50%;">
  <h1>PDX Accessible Services</h1>
  <p>Tell us a bit about yourself!</p>
</div>
  
  

  <h2 style="text-align:center;"> I am a.. </h2>
  <br>
  <div style="width:30%; margin: 25px auto;">
            <form action = "/shelters" method="POST">
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">PROVIDER</button>
                </div>
                
                <div class="form-group">
                    <button class="btn btn-lg btn-success btn-block"><a href="/">INDIVIDUAL</a></button>
                </div>
                
                <div class="form-group">
                    <button class="btn btn-lg btn-info btn-block">ORGANIZATION</button>
                </div>
                
                <div class="form-group">
                    <button class="btn btn-lg btn-warning btn-block">VOLUNTEER</button>
                </div>
            </form>
  </div> 

<% include partials/footer %> 
