
<% include partials/header %>

<h1> Welcome to the map of Portland, with each shelter resource indicated by color </h1> 

<img src="/images/mapAPI.jpg" alt="Pic of Map API" style="margin: 0 auto;">

<p><span style="color:green">GREEN</span> - open during the night and has open capacity </p>

<% include partials/footer %>
