<% include partials/header %>

<div class ="container">
  <div class = "jumbotron">
    <div class="container>
      <h1> Welcome to ShelterApp! </h1>
      <p>    This application allows unhoused individuals to find local shelters and supplies. </p>
      <p>    The shelters can log in, and then update their current supplies. </p>
      <p>    This will then be presented through the map API to unhoused individuals. </p>
    </div>
  </div> 
</div>

<a href="/shelters"> View Available Shelters! </a>

<% include partials/footer %> 
