<% include partials/header %>

<h1> Welcome! </h1>

<p>Use this App to help foster Accessible Services in your Community</p> 

<a href="/trails"> View all Resources</a>

<% include partials/footer %> 
