<% include partials/header %>

<h1> Welcome to ShelterApp! </h1>

<p> This application allows unhoused individuals to find local shelters and supplies. The shelters can log in, and then update their current supplies. This will then be presented through the map API to unhoused individuals. </p>


<a href="/shelters"> View all the Shelters! </a>

<% include partials/footer %> 
