<% include partials/header %>

<div class = "jumbotron">
  <h1>Please take our Needs Survey</h1>
  <p>    The Needs Survey helps Resource Providers in your area know what types of supplies are most needed. </p>
</div> 

<a href="/shelters"> View Available Shelters! </a>

<% include partials/footer %> 
